In [55]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import threading
from config import pw

## Creating the pipeData table

In [80]:
# Load the CSV
TeAllPointsFile = "../data/TeAllPoints.csv"
pointsdf = pd.read_csv(TeAllPointsFile, encoding="ISO-8859-1")

# Loc column has leading spaces, so we convert to remove them
pointsdf.Loc = pd.to_numeric(pointsdf['Loc'], errors='coerce')

# pick the columns for the table
pipeDataTable = pd.DataFrame({
    'loc': pointsdf['Loc'],
    'locName': pointsdf['Loc Name'],
    'locState': pointsdf['Loc St Abbrev'],
    'locCounty': pointsdf['Loc Cnty'],
    'locZone': pointsdf['Loc Zone'],
    'dirFlo': pointsdf['Dir Flo'],
    'locType': pointsdf['Loc Type Ind']
})

pipeDataTable.head(1)

,loc,locName,locState,locCounty,locZone,dirFlo,locType
0,70059,"Chevron - Perth Amboy, NJ",NJ,MIDDLESEX,3,Delivery,UNK

## Creating the dailyFlo table

In [81]:
# Load the XLSX
flowsFile = "../data/flows_last10.xlsx"
flowsdf = pd.concat(pd.read_excel(flowsFile, sheet_name=None), ignore_index=True)

dailyFloTable = pd.DataFrame({
    'loc': flowsdf.Loc,
    'gas_date': flowsdf.Eff_Gas_Day,
    'Total_Design_Capacity': flowsdf.Total_Design_Capacity,
    'Operating_Capacity': flowsdf.Operating_Capacity,
    'Total_Scheduled_Quantity': flowsdf.Total_Scheduled_Quantity,
    'TSP_Name': flowsdf.TSP_Name
})

dailyFloTable.head(1)

,loc,gas_date,Total_Design_Capacity,Operating_Capacity,Total_Scheduled_Quantity,TSP_Name
0,70004,2020-08-21,593830,600490,0,TX EAST TRAN

## Sending data to the DB

In [54]:
engine = create_engine('postgresql://postgres:'+pw+'@localhost:5432/ng_db_p2')
conn = engine.connect()

In [78]:
pipeDataTable.to_sql('pipeData', engine, if_exists='append', index=False)

In [82]:
dailyFloTable.to_sql('dailyFlo', engine, if_exists='append', index=False)